[flake8]
max-line-length = 100
extend-ignore =
    E203,
    E402,
    E501,
    W503,
    F401,
    F541,
    F811,
    F841,
    B007,
    B023,
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    data,
    output,
    build,
    dist,
per-file-ignores =
    __init__.py:F401
    tests/*:S101,F401,F811
